/* stylelint-disable no-descending-specificity */
// color variables
$primary-color-200: #bf91fd;
$primary-color-400: #a976f9;
$primary-color-500: #8749f6;
$primary-color-600: #6735d2;
$success-color-200: #b7f764;
$success-color-400: #5fee3b;
$success-color-500: #1ce400;
$success-color-600: #08c400;
$warn-color-200: #ffda8c;
$warn-color-400: #fecb70;
$warn-color-500: #ffb343;
$warn-color-600: #db8f31;
$danger-color-200: #fda18c;
$danger-color-400: #fb7d71;
$danger-color-500: #f94141;
$danger-color-600: #d72f3e;

// attribute variables
$outline-border-color: #dbdbdb;
$text-hover-bg-color: #ededed;
$text-active-bg-color: #d9d9d9;
$border-radius: 4px;
$trans-duration: 0.15s;
$disabled-color: #bababa;
$disabled-bg: #ebebeb;
$tiny-padding-x: 10px;
$small-padding-x: 16px;
$medium-padding-x: 20px;
$large-padding-x: 24px;
$tiny-height: 28px;
$small-height: 32px;
$medium-height: 40px;
$large-height: 48px;

// scss mixin
@mixin s-button($main, $active-bg, $hover-bg, $focus-color) {
  border-width: 0;
  background-color: $main;
  color: #fff;
  &:focus-visible {
    box-shadow: 0 0 0 2px $focus-color;
  }
  &:active:not(:disabled, .s-button--loading, .s-button--outline) {
    background-color: $active-bg;
  }
  &:hover:not(:disabled, :active, .s-button--loading, .s-button--outline) {
    background-color: $hover-bg;
  }
  &:where(.s-button--outline) {
    border-width: 1px;
    background-color: unset;
    border-color: $main;
    color: $main;
    &:hover {
      border-color: $hover-bg;
      color: $hover-bg;
    }
    &:active {
      border-color: $active-bg;
      color: $active-bg;
    }
  }
}

.s-button {
  height: 40px;
  outline: 0;
  border: 0;
  padding: 0 $medium-padding-x;
  border-radius: $border-radius;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition-property: border-color, background-color, color;
  transition-duration: $trans-duration;
  transition-timing-function: linear;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  &--loading {
    cursor: default;
  }
  &:focus-visible {
    box-shadow: 0 0 0 2px $primary-color-200;
  }
  &:disabled[class] {
    outline: 0;
    border: 0;
    color: $disabled-color !important;
    background-color: $disabled-bg !important;
    cursor: not-allowed;
  }
  &--shape-round {
    border-radius: calc($medium-height / 2);
  }
  &--shape-circle {
    padding: 0;
    width: $medium-height;
    height: $medium-height;
    border-radius: 50%;
  }
}

.s-button--outline {
  border-width: 1px;
  border-style: solid;
}

.s-button--text[class] {
  border: 0;
  &:active:not(:disabled, .s-button--loading) {
    background-color: $text-active-bg-color;
  }
  &:hover:not(:disabled, :active, .s-button--loading) {
    background-color: $text-hover-bg-color;
  }
}

.s-button--primary[class] {
  @include s-button($primary-color-500, $primary-color-600, $primary-color-400, $primary-color-200);
}

.s-button--success[class] {
  @include s-button($success-color-500, $success-color-600, $success-color-400, $success-color-200);
}

.s-button--warn[class] {
  @include s-button($warn-color-500, $warn-color-600, $warn-color-400, $warn-color-200);
}

.s-button--danger[class] {
  @include s-button($danger-color-500, $danger-color-600, $danger-color-400, $danger-color-200);
}

.s-button--tiny {
  height: $tiny-height;
  padding: 0 $tiny-padding-x;
  font-size: 14px;
  .s-button--shape-round {
    border-radius: calc($tiny-height / 2);
  }
  .s-button--shape-circle {
    width: $tiny-height;
    height: $tiny-height;
    border-radius: 50%;
  }
}

.s-button--small {
  height: $small-height;
  padding: 0 $small-padding-x;
  font-size: 14px;
  .s-button--shape-round {
    border-radius: calc($small-height / 2);
  }
  .s-button--shape-circle {
    width: $small-height;
    height: $small-height;
    border-radius: 50%;
  }
}

.s-button--large {
  height: $large-height;
  padding: 0 $large-padding-x;
  font-size: 16px;
  .s-button--shape-round {
    border-radius: calc($large-height / 2);
  }
  .s-button--shape-circle {
    width: $large-height;
    height: $large-height;
    border-radius: 50%;
  }
}

.s-button--block {
  width: 100%;
}
