.card-skeleton {
  width: 300px;
  display: flex;
  &__avatar {
    --size: 40px;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }
  &__content {
    position: relative;
    margin-left: 12px;
    flex: 1;
    & > div {
      margin-bottom: 10px;
    }
  }
  &__item {
    height: 14px;
    border-radius: 4px;
  }
}
