.button-group button {
  margin-bottom: 12px;
  &:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:not(:last-child, :first-child) {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
}

.button-loading {
  opacity: 0.6;
  i {
    animation: loading 0.8s linear infinite;
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
